.modal-backdrop {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
}

.modal-body {
  width: 400px;
  height: 500px;
  background: white;
  overflow: scroll;
}
.mar {
  margin: 10px;
}
.red {
  color: red;
}
